body {
    background:#edeff2;
    color: #fff;
}

p {
    margin-bottom: 0;
}

.row {
    margin-bottom: 20px;
}

header {
    background: #232532;
    
    padding:20px;
}

main article {
    color:#000;
    background: #fff;
    padding: 20px;
}

main article p {
    margin-bottom: 20px;;
}


.widgets .widget {
    background: #4f5ef5;
    padding: 40px 20px;
    text-align: center;
}

footer {
    background:#232532;
    padding: 20px;
    margin-top:20px;
}